node_modules
coverage
build
.DS_Store
.env
.eslintcache
npm-debug.log
lerna-debug.log
*.tmp
packages/*/lib
packages/gl-react/gl-react.js
packages/gl-react-dom/gl-react-dom.js
packages/tests/node_modules_to_test/
packages/cookbook/src/API.json
examples/*/shared/
