a {
  color: inherit;
}
a:hover,
a:focus {
  color: inherit;
}
.menu {
  background: #fff;
  padding: 10px;
  width: 280px;
}
.menu ul {
  margin: 0;
  padding: 0;
}
.menu li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px;
}
.menu li a {
  text-decoration: none;
}
.menu li .example-link.active {
  opacity: 0.5;
}
.menu li .example-link strong {
  text-decoration: underline;
}
.menu li .example-link.active strong {
  text-decoration: none;
}
.App {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.App > header {
  height: 50px;
  display: flex;
  flexdirection: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  position: relative;
}
.App > header .sidebar-opener {
  font-size: 32px;
  padding: 0px 15px;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}
.App > header .inspector-opener {
  font-size: 32px;
  padding: 0px 15px;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}
.App > header .logo {
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;
}
.App > header .logo .t1 {
  color: #e24;
}
.App > header .logo .t2 {
  color: #000;
}
.App > header .logo .t3 {
  color: #e24;
}
.App > header .logo .v {
  font-weight: normal;
  font-size: 0.6em;
  margin-left: 10px;
  color: #333;
}
.App > header .logo img {
  height: 22px;
  vertical-align: middle;
  margin-right: 10px;
}
.App > header nav {
  margin: 0 20px;
}
.App > header nav a {
  margin: 0 4px;
  padding: 0 4px;
}
.App > header h1 {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
  padding: 0;
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}
.App > header select {
  margin: 0 20px;
}
a.left,
a.right {
  font-size: 1.6em;
  padding: 0.6em 0.4em;
  background: #fff;
  color: #000;
  text-decoration: none;
  opacity: 0.2;
  cursor: pointer;
  user-select: none;
}
a.left:hover,
a.right:hover {
  opacity: 1;
}
a.left {
  position: absolute;
  top: 50%;
  left: 0;
}
a.right {
  position: absolute;
  top: 50%;
  right: 0;
}
.App .container {
  flex: 1;
  padding: 10px 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #111;
  overflow: auto;
}
.App .container .source {
  font-size: 12px;
  width: 600px;
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.App .container .source .viewsource {
  color: #fff;
  text-align: right;
  opacity: 0.8;
  padding: 4px 0;
}

.App .container .example {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  user-select: none;
}
.desc {
  font-size: 1.1em;
  text-align: center;
  color: #666;
  white-space: pre-line;
  display: inline-block;
  padding: 10px 0;
}
.desc em {
}
.desc pre {
  display: inline-block;
  text-align: left;
}
.desc blockquote {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  text-align: left;
  border-left: 2px solid #333;
  opacity: 0.5;
}
.desc strong {
  color: #999;
}
.desc p {
  margin: 0;
}
.App .container .rendering {
  border: 1px solid #000;
  display: inline-block;
  background: #eee url(https://i.imgur.com/RE6MGrd.png) repeat;
  background-size: 20px 20px;
  line-height: 0px;
  font-family: sans-serif;
  font-size: 14px;
  align-self: center;
}
.App .container .toolbox {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-bottom: 10px;
}
.App .container .toolbox h3 {
  padding: 0;
  margin: 4px 0;
}
.App .container .toolbox > * {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.App .container .example .buttons {
  text-align: center;
  padding: 1.8em;
  background: #fff;
}
.App .container .example .buttons button {
  font-size: 1.4em;
}
.inspector {
  width: 600px;
  height: 100%;
  display: flex;
}
