html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto Condensed", sans-serif;
}
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
}
